.mainDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.glavniDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*flex: 1 0 auto;*/
}
.kontejner {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 33%;
    min-width: 20%;
    min-width: 300px;
  
}

.kontForma {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}
